/* Standalone stepper styles to ensure ordered step counters display */
ol.stepper {
  padding: 1.5rem;
  margin: 1em -1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  counter-reset: section;
  list-style: none;
}

ol.stepper li {
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 1rem;
}

ol.stepper li::before {
  counter-increment: section;
  content: counter(section) ".";
  position: absolute;
  left: 0;
  top: 0;
  width: 2.4rem;
  height: 2.4rem;
  line-height: 2.4rem;
  border-radius: 50%;
  text-align: center;
  background: #59698d;
  color: #fff;
  font-weight: 600;
}
